<%= content_for :head do %>
<% end %>

<%= content_for :page_title do %>
  user administration
<% end %>

<%= content_for :page_subtitle do %>
<% end %>


<%= content_for :page_body do %>

  <h1>New user</h1>

  <%= render 'form' %>
  
  <%= link_to 'Back', users_path %>

<% end %>


<%= content_for :sidebar do %>
<% end %>
