<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>Revision42</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>

<body>


  <!--BACKGROUND IMAGE --------------------------------------------->
  <%= image_tag('/images/cityscape.jpg', :id => 'outerwrap') %>


  <!--HEADER, LOGO --------------------------------------------->
  <div id='header'> 
    <div id='header_logo_wrap'>
      <div id='header_logo'>
        <span class='logo_revision'>Revision</span><span class='logo_revision logo_42'>42</span>
        <span id='nav_bar'> 
          <%= link_to "blog", root_path %> 
          / <%= link_to "johnmartirano", johnmartirano_path %> </span>
      </div>
    </div>
  </div>


  <!--PAGE BODY--------------------------------------------->
  <div id='margin_wrap'>

  <div id='innerwrap'>
  
  <div id='main'>
  
    <div id='page_wrap'>
      <div id='page_title_area'>
        <span id='page_title'>
          <%= yield :page_title %>
        </span>
        <br>
        <span id='page_subtitle'>
          <%= yield :page_subtitle %>
        </span>
      </div>
    <div id='page_body'>


  <%= yield :page_body %>

  
  </div>
  </div>

  
  <!--SIDEBARS --------------------------------------------->
  <div id='sidebar'> 
    <%= yield :sidebar %>
  </div>

  <div id='sidebar2_title_area'> 
    <span id='sidebar2_title'>
      <b>blogroll</b>
    </span>
  </div>
  <div id='sidebar2_body'> 
    <% @posts.each do |p| %>
      <%= link_to p.title, post_path(p) %>
    <% end %>
  </div>


  </div> /*end main*/
  

  <!--FOOTER --------------------------------------------->
  <div id='footer_wrap'> 
  <div id='footer'> </div>
  </div>


  </div>
  </div>


</body>
</html>
